.jpeg
.png
.jpg
C:\Users\Sayar\Tutorials\deep-learning\Handwritten Digit Classifier\generic_num_reader.model\variables\variables.index
Handwritten Digit Classifier/generic_num_reader.model/variables/variables.data-00000-of-00001
Handwritten Digit Classifier/generic_num_reader.model/saved_model.pb
Handwritten Digit Classifier/generic_num_reader.model/variables/variables.index
