Handwritten Digit Classifier/generic_num_reader.model/variables/variables.data-00000-of-00001
Handwritten Digit Classifier/generic_num_reader.model/saved_model.pb
Handwritten Digit Classifier/generic_num_reader.model/variables/variables.index
*.jpg
PetImages/Cat/Thumbs.db
PetImages/Dog/Thumbs.db
MSR-LA - 3467.docx
*.txt
*.db
